<html>
    <head>
        <title>Edit store</title>
    </head>
    <body>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" />
        {{ form_end(form) }}
    </body>
</html>